section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px; /* Em cima e em baixo */
  font: var(--text-span);


  a {
    justify-self: end; /* Pra ele ir lá pro fundo */
    align-items: center;
    gap: 8px;

    span {
      background-image: url(/icons/Vector-setinha-direita.svg);
      width: 16px;
      height: 16px;

      background-size:contain;
      background-repeat: no-repeat;
    }

    &:hover span {
      background-image: url(/icons/Vector-setinha-direita-hover.svg);
    }
  }
}

#featured {
  grid-area: featured;

  img {
    height: 100%; /* Para n ficar espaços vazios no eixo vertical*/
    object-fit: cover; /* Para não esticar a imagem */
  }
  
  .card {
    position: relative;
    overflow: hidden; /* Serve para esconder a transbordada */
    border-radius: 4px; /* Para dar uma arredondada no canto das img */
    
    &::before {    /* Mesma coisa que um .card::before */
      content: "";
      position: absolute;
      inset: 0;
      top: 50%; /* O degradê começa no meio */
      background: linear-gradient( /* gradiente linear */
        180deg, /* deg de degrees, graus em inglês */
        transparent 0%, /* Do começo */
        #020617 100%  /* Ao fim */
      )
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      &:has(.text-lg) { /* Se tiver padding text-lg */
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }

  }
}

#weekly {
  grid-area: weekly;

  &>div { /* Primeiro nível de div */
    grid-template-columns: repeat(4, 292px); /* Quantidade de colunas (4) e largura de cada uma (292px) */
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p {
      margin-top: 8px;
      font-weight: 800;
    }
  }
}

#ai {
  grid-area: ai;

  img {
    width: 176px;
    aspect-ratio: 1/1; /* Faz a img ficar 1/1, ou seja, quadrada */
    object-fit: cover;
  }

  h3 {
    margin-block: 8px 4px;
  }
}

aside {
  grid-area: aside;
}

#more {
  margin-top: 32px;

  img{
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}